*{
	margin:0px;
	padding:0px;
}
body{
	font-family:arial;
}
img{
	max-width:100%;
}
.navServies{
	background: linear-gradient(54deg,#22337d,#E91E63);
	height:60px;
	width:100%;
}
.logo{
	line-height:60px;
	padding:0px 30px;
}
.maineMenu{
	float:right;
	list-style:none;
	margin-right:40px;
}
.maineMenu li{
	display:inline-block;
	line-height:60px;
	margin:0px 5px;
	position:relative;
	z-index: 1111;
}
.maineMenu li a{
	text-decoration:none;
	color: #a7a7a7;
	font-size:15px;
	font-weight:600;
	padding:7px 13px;
	transition:0.3s;
}
.maineMenu li a:hover{
	color:white;
}
.checkBtn{
	float:right;
	margin-right:30px;
	color:white;
	line-height:60px;
	display:none;
	cursor:pointer;
}
#check{
	display:none;
}
@media(max-width:960px){
	.checkBtn{
		margin-right:60px;
	}
	.logo{
		padding-left:60px;
	}
	.checkBtn{
		display:block;
	}
	.maineMenu{
		position:fixed;
		background: linear-gradient(104deg,#070784,#E91E63);
		width:100%;
		top:50px;
		padding:20px;
		left:100%;
	}
	.maineMenu li{
		display:block;
		line-height:40px;
		transition:0.3s;
		cursor:pointer;
		margin-left:32px;
	}
	.maineMenu li:hover{
		background:#13136f;
	}
	#check:checked~.maineMenu{
		position:absolute;
		left:0px;
		z-index: 1111;
	}
}
@media(max-width:800px){
		.checkBtn{
		margin-right:30px;
	}
	.maineMenu li{
		margin-left:0px;
	}
		.logo{
		padding-left:30px;
		}
	.navServies{
		height:50px;
	}
	.checkBtn{
		line-height:50px;
	}
	.logo{
		line-height:50px;
	}
	.maineMenu{
		position:fixed;
		background: linear-gradient(104deg,#070784,#E91E63);
		width:100%;
		top:50px;
		padding:20px;
		left:100%;
	}
	.maineMenu li{
		display:block;
		line-height:40px;
		transition:0.3s;
		cursor:pointer;
	}
	.maineMenu li:hover{
		background:#13136f;
	}
	.logo{
		padding-left:30px;
	}
	#check:checked~.maineMenu{
		position:absolute;
		left:0px;
		z-index: 1111;
	}
}
.meineSubMenu{
	position:absolute;
	background:white;
	line-height:30px;
	top:60px;
	border-radius:5px;
	display:none;
}
.meineSubMenu:before{
	content:"";
	border-top: 30px solid #ffffff00;
	border-left: 30px solid white;
	position:absolute;
	left: 13px;
	top: -2px;
	transform: rotate(136deg);
}
.meineSubMenu li{
	width:200px;
	display:black;
	margin:0px;
	line-height:40px;
	transition:0.3s;
}
.meineSubMenu li:hover{
	background:#13136f;
}

.subMenu:before{
	content:"\f0d7";
	position:absolute;
	font-family:fontAwesome;
	color:#cccccc;
	right:0px;
	font-size:13px;
	cursor:pointer;
	transition:0.3s;
}
.maineMenu li:hover{
	color:white;
}
.maineMenu li:hover.subMenu:before{
	color:white;
}
.maineMenu li:hover .meineSubMenu{
	display:block;
}
.active.subMenu:before{
	content:"\f0d8";
}

@media(max-width:960px){
	.maineMenu li:hover .meineSubMenu{
	display:none;
	}
	.maineMenu li.active .meineSubMenu{
	display:block;
	}
.meineSubMenu{
		position:relative;
		top:0px;
		height:200px;
		overflow:auto;
	}
	.meineSubMenu li{
		display: block !important;
		width: 100%;
	}
	.meineSubMenu:before{
		border-left: 30px solid transparent;
	}
	.subMenu:before{
		right: 20px;
	}
}
@media(max-width:800px){
	.meineSubMenu{
		position:relative;
		top:0px;
		height:200px;
		overflow:auto;
	}
	.meineSubMenu li{
		display: block !important;
		width: 100%;
	}
	.meineSubMenu:before{
		border-left: 30px solid transparent;
	}
	.subMenu:before{
		right: 20px;
	}
}
.new {
    background: #ff2c1d;
    padding: 4px 6px;
    font-size: 11px;
    border-radius: 5px;
    margin-left: 10px;
    opacity: 0.7;
	transition:0.3s;
}
.meineSubMenu li:hover .new{
	opacity:1;
}
.insiteMenu{
	position:absolute;
	left: 228px;
	top: 20px;
	background:white;
	border-radius:5px;
	opacity:0;
}
.insiteMenu li{
	display:block;
}
.meineSubMenu li:hover .insiteMenu{
	opacity:1;
	left: 200px;
	top: 0px;
	transition:.3s;
}
.insiteMenu:before{
	content:"";
	border-top: 20px solid #ffffff00;
	border-left: 20px solid white;
	position:absolute;
	left: -5px;
	top: 7px;
	transform: rotate(45deg);
}
.sveMenu:before{
	content:"\f107";
	position:absolute;
	font-family:fontAwesome;
	color:#cccccc;
	right:20px;
	font-size:13px;
	cursor:pointer;
	transition:0.3s;
}
@media(max-width:960px){
	.sveMenu:before{
		content:"\f0d7";
	}
	.meineSubMenu li:hover .insiteMenu{
	opacity:0;
	left: 0px;
	top: 0px;
	transition:.3s;
	}
	.meineSubMenu li.active .insiteMenu{
	position:relative;
	opacity:1;
	left:0px;
	top: 0px;
	height:170px;
	overflow:auto;
	transition:.3s;
	}
	.insiteMenu:before{
		border-left: 20px solid transparent;
	}
	.sveMenu{
	background:#6d6dcc;
	}
}
@media(max-width:800px){
		.meineSubMenu li:hover .insiteMenu{
	opacity:0;
	left: 0px;
	top: 0px;
	transition:.3s;
	}
	.meineSubMenu li.active .insiteMenu{
	position:relative;
	opacity:1;
	left:0px;
	top: 0px;
	height:170px;
	overflow:auto;
	transition:.3s;
	}
	.insiteMenu:before{
		border-left: 20px solid transparent;
	}
}
.meineSubMenu li a{
	font-size:12px;
}
.meineSubMenu li {
	line-height:30px;
}
#sliderSection{
	background: linear-gradient(112deg,#1a2c79,800px,#ffffff54),url(../image/banner-3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	float:left;
	width:100%;
	margin-top: -17px;
}
.sliderWrapper h6 {
    color: white;
    margin-bottom: 20px;
    margin-top: 140px;
    font-size: 17px;
    text-transform: uppercase;
}

.sliderWrapper h1 {
    color: white;
    font-size: 49px;
    font-weight: 600;
}

.sliderWrapper p {
    width: 515px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}
@media(max-width:900px){
	#sliderSection{
		margin-top: -8px;
	}
}
.sliderLink a {
    display: block;
    line-height: 33px;
    text-decoration: none;
    color: white;
}

.sliderLink a span {
    font-weight: 600;
}
.sliderLink {
    margin-bottom: 90px;
}
@media(max-width:800px){

	.sliderWrapper h6{
		font-size: 14px;
		margin-bottom: 15px;
		margin-top: 105px;
	}
		.sliderWrapper h1{
		font-size:30px;
	}
	.sliderWrapper p{
		font-size:14px;
		width:400px;
		margin-bottom: 42px;
	}
	.sliderLink a{
		font-size:14px;
	}
	#sliderSection{
		background: linear-gradient(112deg,#1a2c79e8,700px,#ffffff54),url(../image/banner-3.jpg);
		background-position: center;
	}
	
}
.sliderBox {margin: auto;width: 552px;}

.sliderBox button {
    border: none;
    background: white;
    padding: 13px 26px;
    font-size: 17px;
    font-weight: 600;
    color: #676767;
    margin-right: 10px;
    width: 168px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	user-select:none;
}
.topBtn{
	background: #E91E63 !important;
	color:white !important;
}

@media(max-width:800px){
	.sliderBox{
		width: 464px;
		margin-right: -15px;
		padding: 0px 21px;
	}
	.sliderBox button{
		width: 117px;
		font-size: 15px;
		margin-right: 8px;
		padding: 8px 14px;
	}
}
.servicesWrapper h2 {
    font-size: 47px;
    margin-top: 126px;
    margin-bottom: 15px;
}
.servicesWrapper p {
    color: #888;
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
}

.servicesIcon a {
    display: block;
    text-decoration: none;
    color: #888;
    margin-bottom: 6px;
}

.servicesIcon a span {
    font-weight: 600;
}
.servicesIcon{
	margin-bottom: 126px;
}
@media(max-width:800px){
	.servicesWrapper h2{
		font-size:30px;
		margin-top: 60px;
	}
	.servicesWrapper p {
		margin-bottom: 20px;
		font-size:14px;
	}
	.servicesIcon a{
		font-size:14px;
	}
	.servicesIcon{
	margin-bottom: 60px;
	}
}
.ServiesBox {
    padding: 112px 0px;
}

.servicesSingleBox {border: 1px solid #b5b0bf54;float: left;padding: 25px;padding-bottom: 20px;border-radius: 4px;text-align: center;width: 200px;margin: 11px;}

.servicesSingleBox h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.servicesSingleBox p {
    color: #888;
    font-size: 15px;
    width: 100%;
    line-height: 25px;
}
.servicesIcon a i {
    color: tomato;
    margin-right: 7px;
}
@media(max-width:999px){
	.servicesSingleBox{
		width: 143px;
		display:inline-block;
	}
}
@media(max-width:800px){
	.ServiesBox {
    padding: 0px 0px;
	}
	.servicesSingleBox{
		width:100%;
	}
}
.servicesSingleBox i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #503171;
}
.ourProsessTitle {
    width: 529px;
    margin: auto;
    text-align: center;
    color: #888;
}

.ourProsessTitle h1 {
    font-weight: 600;
    color: #333;
    font-size: 38px;
}

.ourProsessTitle p {
    font-size: 18px;
    margin-bottom: 30px;
}
.prosessIcon {
    background: #E91E63;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.prosessIcon i {
    font-size: 50px;
    margin-top: 26px;
    margin-left: 0px;
}

.prosessSingleBox {
    text-align: center;
    margin-bottom: 50px;
}

.prosessTitle h3 {
    font-size: 25px;
    font-weight: 600;
}

.prosessTitle p {
    color: #888;
    font-size: 15px;
    line-height: 25px;
}
.prosessSingleBox span {
    position: absolute;
    left: 144px;
    top: 0px;
    display: block;
    background: #20208c;
    width: 33px;
    height: 33px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    border-radius: 100%;
}
section#ourProsess {
    background: #f9f9f9;
    padding: 100px 0px;
}
section#worldServies {
    background: white;
}
@media(max-width:999px){
	.prosessSingleBox span {
		left: 110px;
		z-index: 1111;
	}
}
@media(max-width:800px){
	.ourProsessTitle h1{
		font-size:25px;
	}
	.ourProsessTitle p{
		font-size:14px;
	}
	.ourProsessTitle{
		width: 100%;
	}
	.prosessTitle h3{
		font-size: 20px;
	}
	.prosessTitle p{
		font-size:14px;
	}
	.prosessSingleBox span {
		left: 275px;
	}
}
section#downloadServieces {
    background: linear-gradient(80deg,#282871d6,#e91e63a6),url(../image/slider-img-3.jpg)no-repeat top center / cover fixed;
    padding: 80px 0px;
}
.titleWrapper{
	color:white !important;
}
.downloadButton {
    background: #0000ff00;
    width: 188px;
    padding: 0px 22px;
    margin: 2px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
    text-align: left;
}

.downloadButton span {
    font-size: 14px;
    float: right;
    margin-top: -40px;
}

.downloadButton h5 {
    font-size: 17px;
    font-weight: 600;
    float: right;
    margin-top: -23px;
}
.allBlock {
    width: 585px;
    margin: auto;
}
.downloadButton:hover {
    background: #29356d;
	border:none;
}
.downloadIcon {
    width: 50px;
    float: left;
    margin-top: 6px;
}

.downloadIcon a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.downloadIcon a i {
    margin-top: 0px;
}
@media(max-width:800px){
	.allBlock {
    width: 300px;
	}
	.downloadButton{
		    width: 140px;
			padding: 10px;
	}
	.downloadButton span{
		font-size: 13px;
	}
	.downloadButton h5{
		font-size: 16px;
	}
	.downloadIcon a{
		font-size: 19px;
	}
}
.teamSingleBox {
    border: 1px solid #efefef;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0px #ececec;
    margin-bottom: 45px;
}

.teamImg span {
    background: #292f79;
    color: white;
    padding: 5px;
    transition: 0.3s;
    position: absolute;
    left: 0px;
    top: 158px;
}

.teamImg:hover span {
    background: #E91E63;
}

.teamTitle {
    padding: 17px;
}

.teamTitle h2 {
    font-size: 22px;
    color: #292f79;
}

.teamTitle p {
    color: #888;
}

.teamIcon {
    background: #f1f1f1;
}

.teamIcon {
    padding: 17px;
    overflow: hidden;
    padding-bottom: 0px;
}

.tmIcon {
    font-size: 12px;
    float: left;
}

.tmTitle h6 {
    color: #292f79;
    font-weight: 600;
    font-size: 15px;
}

.tmTitle p {
    color: #888;
    font-size: 14px;
}

.tmTitle {
    float: left;
}

.tmIcon span {
}

.teamIcon a {margin-left: 66px;text-decoration: none;color: #292f79;}

.teamIcon a span {
    font-size: 17px;
}

section.letesNews {
    padding: 80px 0px;
    background: #f5f5f5;
}
section#contactServieces {
    padding: 50px 0px;
    position: relative;
}

.contactTitle h2 {
    font-size: 33px;
    font-weight: 600;
}

.contactTitle p {
    color: #888;
    margin-bottom: 30px;
}

.contactBtn a {
    position: absolute;
    top: 24px;
    left: 223px;
    text-decoration: none;
    background: #E91E68;
    color: white;
    padding: 9px 25px;
    border-radius: 5px;
    border: 1px solid #E91E63;
    transition: 0.3s ease;
    display: block;
    margin-bottom: 30px;
}

.contactBtn a:hover {
    background: #e91e6300;
    color: #e91e63;
}
@media(max-width:800px){
	.contactTitle h2{
		font-size:27px;
	}
	.contactTitle p{
		font-size:14px;
	}
	.contactBtn a{
		left: 18px;
	}
}
#footerServieces {
    background: linear-gradient(98deg, #382b6b, 689px,#E91E63);
    padding: 60px 0px;
}

.footerWrapper h2 {
    font-size: 18px;
    color: white;
    border-bottom: 1px dotted dimgrey;
    padding-bottom: 10px;
    margin-bottom: 22px;
}

.footerWrapper ul {
    list-style: none;
}

.footerWrapper ul li {
    line-height: 37px;
}

.footerWrapper ul li a {
    text-decoration: none;
    color: #d8d8d8;
    font-size: 14px;
    transition: 0.3s ease;
}

.footerWrapper ul li a:hover {
    color: white;
}
.footerWrapper {
    margin-bottom: 30px;
}
@media(max-width:800px){
	#footerServieces{
		background: linear-gradient(98deg, #382b6b, 400px,#E91E63);
		margin-top: 50px;
	}
}
.contactIcon {
    padding: 10px 0px;
}

.contactIcon p {
    color: #888;
    margin-top: 15px;
    font-size: 14px;
}
.bacgClr{
	background: #041e69;
}
.contactLink a{
	color:white;
	font-size:25px;
}
.contactLink a i{
	transition:0.3s;
}
.contactLink a i:hover{
	color:#E91E63;
}
.contactLink a {
    text-decoration: none;
}

.contactLink a span {
    font-size: 13px;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 2px;
    position: relative;
    left: -49px;
    top: -38px;
	transition:0.3s;
	opacity:0;
}

.contactLink a span:before {content: "";position: absolute;border-top: 10px solid white;border-left: 10px solid transparent;left: 32px;top: 19px;transform: rotate(132deg);}
.contactLink a:hover span{
	top: -45px;
	opacity:1;
}
.contactLink {
    margin-top: 20px;
    padding-bottom: 30px;
}